@font-face {
  font-family: 'ruthie-regular';
  src: url('./assets/fonts/ruthie-regular.ttf') format('truetype');
}

.add-theme {
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  position: relative;
  border: 1px solid #888888;
  padding: 6em 1em 3em 1em;
  background: #494b50;
  opacity: 90%;
  border-radius: 2em;
  box-shadow: 5px 8px 10px #587c8c;
  z-index: 1;
}

.logo {
  background: #ffffff;
  border-radius: 96px;
  height: 9em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 3em crimson);
}

.btnConnect:hover {
  filter: drop-shadow(0 0 5px wheat);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box {
  padding-top: 2em;
  width: 63vw;
  height: 32vh;
  background: #aaa0a0;
}
.left-space {
  padding-left: 20px;
}

.navbarData {
  display: flex;
  justify-content: center;
  padding-right: 2.5em;
  font-weight: bold;
}

.navbar {
  width: 100vw;
  justify-content: space-between;
  padding-left: 15px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  border: 1px solid white;
  /*background-color: #ACDEAA;*/
  /*background: #FFC6C6;*/
  background: #595B83;
  color: #ffffff;
  z-index: 2;
}

#channelName {
  display: block;
  padding: 15px;
  margin: 0 0 25px;
  width: 50vw;
  max-width: 500px;
}
#appId {
  display: block;
  padding: 15px;
  margin: 0 0 25px;
  width: 50vw;
  max-width: 500px;
}


.card button:hover {
  border-color: #099DFD;
  background-color: #099DFD;
}

#userUID {
  display: flex;
  left: 15px;
  bottom: 45px;
  position: relative;
  z-index: 1;
}

.text-user {
  background-color: #494b50;
  padding: 2px 5px;
  border-radius: 15px;
}

.control-icons {
  display: flex;
  width: 20px;
  height: 20px;
}

#controlsToolbar {
  bottom: 15px;
  right: 15px;
  left: 15px;
  position: absolute;
  z-index: 3;
}

#mediaControls button {
  margin: 0 5px 7px;
  padding: 5px;
}

#mediaControls button:hover {
  border-color: #099DFD;
}


#endConnection {
  border-color: red;
  opacity: 50%;
}

#endConnection:hover {
  background-color: red;
  border-color: white;
  opacity: 100%;
}

#localVideo {
  width: 50vw;
  aspect-ratio: 16/9;
  max-width: 360px;
  min-width: 337px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin: 0;
  border: 1px solid #699ac1;
  z-index: 2;
}

#remoteVideoGrid {
  display: flex;
  padding-top: 5em;
  flex-wrap: wrap;
  gap: 16px;
  align-items: start;
  overflow-y: auto;
  height: 100%;
}

.remote-modal-container {
  position: absolute;
  align-content: center;
  left: 3em;
  top: 6em;
  width: calc(1920px / 2);
  height: calc(1080px / 2);
  background: #e43b3b;
}

.backBTN {
  background-color: #e43b3b;
  padding: 3px 12px;
  border-radius: 15px;

  font-weight: bold;
  color: #e8dddd;
  position: absolute;
  left: 4em;
  top: 7.5em;
  z-index: 4;
}

.backBTN:hover {
  background-color: #e8dddd;
  color: #e43b3b;
}

.remote-video-modal {
  left: 3em;
  top: 6em;
  width: 100%;
  height: 100%;
  border: 2px solid #d0ddd0;
}

.remote-video-container {
  position: relative;
  /*width: 28vw;*/
  aspect-ratio: 16/9;
  max-width: 720px;
  min-width: 360px;
  overflow: hidden;
  border: 2px solid #d0ddd0;
  border-radius: 15px;
}

.buttonOn {
  transition-duration: 5s;
  background-color: #14783f;
  color: #ffffff;
}

.buttonOn:hover {
  background-color: #494b50;
  color: #1eaf3e;
}

.buttonOff {
  transition-duration: 5s;
  /*background-color: #e43b3b;*/
  background-color: #FF7878;
  color: #ffffff;
}

.buttonOff:hover {
  background-color: #494b50;
  /*color: #e43b3b;*/
  color: #FF7878;
}